@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.paragraph {
  opacity: 0.6;
}
.flex-one {
  flex: 1;
}

@layer components {
  .btn {
    @apply px-4 py-2 border-[2px] border-blue-800 border-solid rounded-md text-[16px] font-sans w-fit  transition-all duration-300 hover:border-blue-500 hover:shadow-2xl hover:shadow-blue-500/20;
  }
  .active {
    @apply bg-tagColor;
  }

  .heading {
    @apply text-[30px] sm:text-[30px]  md:text-[40px]  text-center font-black uppercase;
  }
  .underline {
    @apply w-full h-[0.5px] border-[1px] border-primary border-solid mb-1;
  }
  .dot {
    @apply h-[6px] w-[6px] rounded-full bg-primary;
  }
  .tag {
    @apply bg-tagColor py-2 px-4 flex items-center justify-center transition-all duration-300 hover:bg-blue-800 font-sans;
  }
  .testimonial {
    @apply w-full md:w-[300px] md:min-w-[300px] md:flex-shrink-0
         flex flex-col justify-end items-center p-4
         bg-darkSecondary h-fit rounded-md;
  }
  .blog-img {
    @apply w-full object-cover rounded-md;
  }
}
.remove-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .animate-scroll {
    animation: none;
  }
}
